.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-scale infinite 5s linear;
  height: 80px;
  margin:20px;
}

.App-header {
  background-color: #222;
  height: 170px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-scale {
  50% { transform: scale(2); }
}
